---
import NavLink from "./NavLink.astro";

---

<header class="sticky top-0 flex justify-center items-center py-5 xl:w-[1120px] mx-auto z-10 ">
    <nav class="flex gap-x-4 md:gap-x-10 opacity-80">
        <NavLink link="/">Inicio</NavLink>
        <NavLink link="/#experience">Experiencia</NavLink>
        <NavLink link="/#projects">Proyectos</NavLink>
        <NavLink link="/#contact">Contacto</NavLink>
    </nav>
</header>